<!DOCTYPE html>
<html>
  <head>
    <title>Subway Surfers</title>
  </head>
  <body>
    <h1>Welcome to Subway Surfers</h1>
    <p>Click the links below to access the MTA Subway Realtime Feeds:</p>
    <ul>
      <!-- <li><a href="/mta/elevator">MTA Elevator Data</a></li> -->
      <li><a href="/mta/feeds/ace">ACE Line</a></li>
      <li><a href="/mta/feeds/bdfm">BDFM Line</a></li>
      <li><a href="/mta/feeds/g">G Line</a></li>
      <li><a href="/mta/feeds/jz">JZ Line</a></li>
      <li><a href="/mta/feeds/nqrw">NQRW Line</a></li>
      <li><a href="/mta/feeds/l">L Line</a></li>
      <li><a href="/mta/feeds/1234567s">1234567S Line</a></li>
      <li><a href="/mta/feeds/sir">SIR Line</a></li>
    </ul>
  </body>
</html>
